@media(max-width:414px){
    .navigation {display: none;}
}

@media(max-width:414px){
    .burger-icon {display: block; margin-right: 20px;}
}


@media(max-width:414px){
.header-wraper {
    width:100%; background-size: cover;
    background-position: center;}
}

@media(max-width:414px) {
.wraper-box{
   
}
@media(max-width:414px) {
    .text1 {width: 148px; font-size: 20px;}
}
@media(max-width:414px) {
    .text2 {width: 148px; font-size: 15px;}
    }

@media(max-width:414px) {
    .btn {width: 147px;
        height: 52px;
        border-radius: 26px; 
        font-size:12px;
        padding: 15px 15px 13px 15px}
    }

    
@media (max-width:414px) {
    .section-title {font-size:25px;}
}
 @media(max-width:414px) {
    .title-text {font-size:12px;}
 }
 @media (max-width:414px) {
    .conteiner-box {width: 80px;}
 }


 
 @media (max-width:414px) {

    .line,.line2 {justify-content: center; flex-direction: column;}        }
    }
    @media (max-width:414px) {
    .box-item {justify-content: center;
    flex-direction: column;}
       }